.sidebar{
    height: 100%;
}

.sidebar .list div{
margin-top: 16px;
align-items: center;
display: flex;
margin-top: 18px;
cursor: pointer;
transition : 0.5s;
}

.sidebar .list div p{
    margin-left: 12px;
}

.sidebar .list div:hover{
    color: rgb(29 , 78 ,216);
}